// Auth page

.auth {
    height: 100%;
    .login, .signup {
    	height: 100%;
    	display: flex;
    	width: 100%;
    	justify-content: center;
    	align-items: center;
    	.logincontainer, .signupcontainer {
    		width: 500px;
    		border: 1px solid #dce0e0;
    		text-align: center;
    	}
    }
}