.chatbuddies{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	border-bottom-style: solid;
    border-left-style: solid;
	border-width: 1px;
	border-color: #cacaca;
	height: 12.5%;

	.icon{
		width:30%;
		height: 100%;
		padding:10px;
	}
	.text{
		width:70%;
		height:100%;
		position: relative;
		padding:10px;
		.name{
			position: absolute;
			left: 0px;
			font-weight: bold;
		}
		.time{
			position: absolute;
			right: 0px;
			font-weight: bold;
			padding-right:10px;
		}
		.body{
			position: absolute;
			top: 30px;
			left: 0px;
			padding-right:10px;
		}

	}
}