.loginform {
	text-align: center;
	padding: 32px;
	.email {
		margin-bottom: 11px;
		.Form-control {
			font-size: 19px;
    		line-height: 24px;
			padding: 11px;
			width: 100%;
			border-radius: 3px;
			height: 62px;
		}
	}
	.password {
		margin-bottom: 11px;
		.Form-control {
			font-size: 19px;
    		line-height: 24px;
			padding: 11px;
			border-radius: 3px;
			width: 100%;
			height: 62px;
		}
	}
	.btn {
		font-weight: 700;
		font-size: 19px;
    	line-height: 22px;
		border-color: red;
		border-radius: 3px;
		background-color: red;
		color: white;
		width: 100%;
		height: 62px;
	}
}